In [1]:
import pandas as pd 
movies=pd.read_csv('movies.csv')

In [2]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
import pandas as pd 
rating=pd.read_csv('ratings.csv')
rating

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [4]:
import pandas as pd 
tags=pd.read_csv('tags.csv')
tags

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [5]:
import pandas as pd 
links=pd.read_csv('ratings.csv')
links

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [9]:
movie_rating1= pd.merge(movies,rating ,on=['movieId'],how='inner')
movie_rating1

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint (2017),Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

In [10]:
movie_rating2 = pd.merge(movies,rating,on=['movieId'],how='left')
movie_rating2

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09
...,...,...,...,...,...,...
100849,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184.0,4.0,1.537109e+09
100850,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184.0,3.5,1.537110e+09
100851,193585,Flint (2017),Drama,184.0,3.5,1.537110e+09
100852,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184.0,3.5,1.537110e+09
100853,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331.0,4.0,1.537158e+09

In [11]:
movie_rating3 = pd.merge(movies,rating,on=['movieId'],how='right')
movie_rating3

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,3,Grumpier Old Men (1995),Comedy|Romance,1,4.0,964981247
2,6,Heat (1995),Action|Crime|Thriller,1,4.0,964982224
3,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1,5.0,964983815
4,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1,5.0,964982931
...,...,...,...,...,...,...
100831,166534,Split (2017),Drama|Horror|Thriller,610,4.0,1493848402
100832,168248,John Wick: Chapter Two (2017),Action|Crime|Thriller,610,5.0,1493850091
100833,168250,Get Out (2017),Horror,610,5.0,1494273047
100834,168252,Logan (2017),Action|Sci-Fi,610,5.0,1493846352
100835,170875,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,610,3.0,1493846415

In [12]:
movie_rating_tags = pd.merge(movie_rating1,tags,on=['userId'],how='inner')
movie_rating_tags

,movieId_x,title,genres,userId,rating,timestamp_x,movieId_y,tag,timestamp_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,48516,way too long,1169687325
1,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,7,4.5,1106635993,48516,way too long,1169687325
2,58,"Postman, The (Postino, Il) (1994)",Comedy|Drama|Romance,7,3.0,1106635520,48516,way too long,1169687325
3,150,Apollo 13 (1995),Adventure|Drama|IMAX,7,4.5,1106635925,48516,way too long,1169687325
4,165,Die Hard: With a Vengeance (1995),Action|Crime|Thriller,7,4.0,1106635987,48516,way too long,1169687325
...,...,...,...,...,...,...,...,...,...
4626861,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,27156,psychology,1537094263
4626862,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,193565,anime,1537098582
4626863,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,193565,comedy,1537098587
4626864,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,193565,gintama,1537098603
4626865,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,193565,remaster,1537098592

In [13]:
movie_rating_tags1 = pd.merge(movie_rating1,tags,on=['userId'],how='left')
movie_rating_tags1

,movieId_x,title,genres,userId,rating,timestamp_x,movieId_y,tag,timestamp_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,NaN,NaN,NaN
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,NaN,NaN,NaN
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,48516.0,way too long,1.169687e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,NaN,NaN,NaN
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4706480,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,193565.0,anime,1.537099e+09
4706481,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,193565.0,comedy,1.537099e+09
4706482,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,193565.0,gintama,1.537099e+09
4706483,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,193565.0,remaster,1.537099e+09
4706484,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606,NaN,NaN,NaN

In [14]:
movie_rating_tags2= pd.merge(movie_rating1,tags,on=['userId'],how='right')
movie_rating_tags2

,movieId_x,title,genres,userId,rating,timestamp_x,movieId_y,tag,timestamp_y
0,318,"Shawshank Redemption, The (1994)",Crime|Drama,2,3.0,1445714835,60756,funny,1445714994
1,333,Tommy Boy (1995),Comedy,2,4.0,1445715029,60756,funny,1445714994
2,1704,Good Will Hunting (1997),Drama|Romance,2,4.5,1445715228,60756,funny,1445714994
3,3578,Gladiator (2000),Action|Adventure|Drama,2,4.0,1445714885,60756,funny,1445714994
4,6874,Kill Bill: Vol. 1 (2003),Action|Crime|Thriller,2,4.0,1445714952,60756,funny,1445714994
...,...,...,...,...,...,...,...,...,...
4626861,166534,Split (2017),Drama|Horror|Thriller,610,4.0,1493848402,168248,Heroic Bloodshed,1493844270
4626862,168248,John Wick: Chapter Two (2017),Action|Crime|Thriller,610,5.0,1493850091,168248,Heroic Bloodshed,1493844270
4626863,168250,Get Out (2017),Horror,610,5.0,1494273047,168248,Heroic Bloodshed,1493844270
4626864,168252,Logan (2017),Action|Sci-Fi,610,5.0,1493846352,168248,Heroic Bloodshed,1493844270
4626865,170875,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,610,3.0,1493846415,168248,Heroic Bloodshed,1493844270

In [16]:
print("(Rows,Columns) : " +str(movie_rating_tags1.shape))
movie_rating_tags1.columns

(Rows,Columns) : (4706485, 9)

Index(['movieId_x', 'title', 'genres', 'userId', 'rating', 'timestamp_x',
       'movieId_y', 'tag', 'timestamp_y'],
      dtype='object')

In [17]:
movie_rating_tags1.describe()

,movieId_x,userId,rating,timestamp_x,movieId_y,timestamp_y
count,4.706485e+06,4.706485e+06,4.706485e+06,4.706485e+06,4.626866e+06,4.626866e+06
mean,1.644222e+04,4.787287e+02,3.277587e+00,1.200256e+09,1.094841e+04,1.239233e+09
std,3.170939e+04,1.024621e+02,9.352906e-01,1.915970e+08,2.611919e+04,1.592218e+08
min,1.000000e+00,1.000000e+00,5.000000e-01,8.281246e+08,1.000000e+00,1.137179e+09
25%,1.955000e+03,4.740000e+02,3.000000e+00,1.062076e+09,9.240000e+02,1.137207e+09
50%,4.127000e+03,4.740000e+02,3.500000e+00,1.108735e+09,2.871000e+03,1.138033e+09
75%,7.789000e+03,4.770000e+02,4.000000e+00,1.457845e+09,6.400000e+03,1.457846e+09
max,1.936090e+05,6.100000e+02,5.000000e+00,1.537799e+09,1.935650e+05,1.537099e+09